* {
    margin: 0;
    padding: 0;
}
*:link{
    text-decoration: none;
}


  /*设置谷歌浏览器滚动条样式*/
body::-webkit-scrollbar{
    width: 12px;
    background-color: #dbdbdb;
}
body::-webkit-scrollbar-thumb{
    background-color: rgba(42,44,45,0.2);
}



