<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="UTF-8">
	<title>个人中心</title>
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
	<!--网站头部-->
	<div id="head">
	  <div id="navigation">
		<img id="logo" src="../img/logo.bmp">
		<nav>
		  <span id="theme">个人中心</span>
		</nav>
	  </div>
	</div>
    <!--网站中部-->
    <div id="mid">
	  <!--用户信息区-->
	  <div id="user_data">
		<img id="headimg" src="./img/headimg.png">
		<span id="username">USER：Tyro</span>
		<span id="bbsnumber">BBSN：18456920</span>
		<div id="integral">
		  <h3>等级</h3>
		  <h3>积分</h3>
		</div>
	  </div>
	</div>

  </body>
</html>		
